@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Tangerine);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);

@font-face {
  font-family: 'Share Tech Mono';
  src: url('../fonts/ShareTechMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//@import url(../fonts/ShareTechMono.ttf);
//@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

// Look into:
// Josefin Slab
// Lato (thin)
// Vollkorn
// Junction


