.title{
  /*color:#2980b9;*/
  /*margin-bottom:20%;*/
}
.header{
	margin-top:10%;
}

.links{
  text-align:center;
}

.link-1{
	display:none;
}
.link-2{
  margin-left:0px;
}
.link-3{
  margin-left:0px;
}

.prof-pic{
	border-radius:50%;
	height:275px;
	width:275px;
}